<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${goods.goodsName}+'商品秒杀系统'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">秒杀商品详情</div>
    <table class="table" id="goodslist">
        <tr>
            <td>商品名称</td>
            <td colspan="3" th:text="${goods.goodsName}"></td>
        </tr>
        <!--<tr>-->
            <!--<td>商品图片</td>-->
            <!--<td colspan="3"><img th:src="@{${goods.goodsImg}}" width="200" height="200" /></td>-->
        <!--</tr>-->
        <tr>
            <td>秒杀开始时间</td>
            <td th:text="${#dates.format(goods.goodsSeckillStartTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
            <input type="hidden" id="startTime" th:value="${startTime}" />
            <input type="hidden" id="endTime" th:value="${endTime}" />
            <input type="hidden" id="remainSeconds" />
            <td id="miaoshaTip">
                <span><span id="countDown"></span>秒</span>
                <!--<span th:if="${seckilStatus eq 0}">秒杀进行中</span>-->
                <!--<span th:if="${seckilStatus eq 1}">秒杀已结束</span>-->
            </td>
            <td>
                <button class="btn btn-primary btn-block" type="submit" id="buyButton">立即秒杀</button>
                <input type="hidden" id="goodsId" name="goodsId" th:value="${goods.goodsId}" />
            </td>
        </tr>
        <tr>
            <td>秒杀价</td>
            <td colspan="3" th:text="${goods.goodsPrice}"></td>
        </tr>
        <tr>
            <td>库存数量</td>
            <td colspan="3" th:text="${goods.goodsStock}"></td>
        </tr>
    </table>
</div>
</body>

<script>

    $(function () {
        countDown();
    });

    function getKillUrl(goodsId) {
        $.get("/seckill/"+goodsId+"/seckillurl",{},function (data, stutus,xhr) {
            if(data['code'] == 0) {
                var killurl = "/seckill/" + goodsId + "/" + data['data'] + "/execution";
                $("#buyButton").one('click',function () {
                    alert("click")
                    // $("#buyButton").disable();
                    $("#buyButton").attr("disabled", true);
                    $.post(killurl, {},
                        function (data) {
                            if (data['code']==0) {
                                location="/orders/" + data['data'] + "/detail";
                            }
                            else {
                                $("#error_msg").html(data['msg']);
                            }
                        }, "json");
                    return false;
                });
            }
            else if(data['code'] == 500500){
                alert(data['code'] + ": " + data['msg']);
            }
            else {
                alert(data['code'] + ": " + data['msg']);
                countDown();
            }
        })
    }


    function doCountDown() {
        var remainSecond = $("#remainSeconds").val();
        var timeout;
        console.log(remainSecond);
        if (remainSecond > 0) {
            $("#buyButton").attr("disabled", true);
            timeout = setTimeout(function () {
                $("#countDown").text(remainSecond-1);
                $("#remainSeconds").val(remainSecond-1);
                doCountDown();
            }, 1000);
        } else {
            $("#buyButton").attr("disabled", false);
            $("#miaoshaTip").html("秒杀进行中");
            if (timeout) {
                clearTimeout(timeout)
            }
            getKillUrl($("#goodsId").val());
        }
    }

    function countDown() {
        $.get("/seckill/time/now",{},function (data, stutus, xhr) {
            var nowTime = data['data'];
            var endTime = $("#endTime").val();
            if(nowTime > endTime) {
                $("#buyButton").attr("disabled", true);
                $("#miaoshaTip").html("秒杀已经结束");
                return;
            }
            var remainSecond = $("#startTime").val() - nowTime;
            $("#countDown").text(remainSecond);
            $("#remainSeconds").val(remainSecond);
            doCountDown()
        });
    }
</script>
</html>
