<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- 可选的Bootstrap主题文件（一般不使用） -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--导航条-->

<nav class="index_nav navbar navbar-default" role="navigation">
    <div class="container-fluid content_nav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed marginRight30" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="index_navinfo collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right font-letter3 font-letter2 font_NotoSansHans_Regular">
                <!--<li><a class="color_4dfff font_wight8" href="./index.html">首页</a></li>-->
                <li><a href="./index.html" class="font_size17">首页</a></li>
                <li><a class="color_f " href="./Science.html">技术</a></li>
                <li><a class="color_f " href="./sceneapp.html">场景应用</a></li>
                <li><a class="color_f " href="./News.html">公司动态</a></li>
                <li><a class="color_f " href="./Contact_Us.html">联系我们</a></li>
                <li><a class="color_f " href="./JoinUS.html">招募</a></li>
                <li><a class="color_f " href="http://darma.co/" target="_blank"><img src="./images/english_new.png"
                                                                                     width="50px"/></a></li>
            </ul>
        </div>
    </div>
</nav>

<!--广告图-->
<div class="carousel slide">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item index_banner active img-responsive center-block">
            <div class="carousel-caption">
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <!--公司简介开始-->
    <div class="row all_overFlow">
        <img class="index_mainBG" src="./images/BG_Write2.png"/>
        <img class="absolute touying" src="./images/touying.png"/>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index_main_head">
            <div class="index_container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center index_TitleText font_NotoSansHans_Light">
                    公司简介
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 pull-left index_content2 font_NotoSansHans_Light letter_spacing">
                    深圳市大耳马科技有限公司（简称“DARMA”）是一家致力于体征数据服务的专业型公司，2014年由胡峻浩博士创立于美国硅谷。2015年，总部迁回中国深圳。作为全球最早将高精度光纤技术应用于生命体征监测领域的研究团队，公司利用全球领先的光纤传感技术精准监测人体生命体征及行为习惯，结合大数据管理进行健康疾病状况分析，持续为养老机构、康复中心、慢病管理机构等场所的介护智能设备提供技术解决方案。
                </div>
                <img class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pull-left index_TopImg" src="./images/index_gsjj.png"/>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <!--公司简介结束-->

    <div class="row all_overFlow">
        <img class="index_mainBG" src="./images/BG_Gray1.png"/>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 index_main_head">
            <div class="index_container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center index_TitleText font_NotoSansHans_Light">
                    DARMA光纤传感器
                </div>
                <img class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-left index_TopImg1"
                     src="./images/index_gqcgq.png"/>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right index_content3 font_NotoSansHans_Light letter_spacing">
                    DARMA光纤传感技术利用光学检测原理，使用特殊的采样模型对人体产生的微小变化进行高精度采集和还原，并借助高级算法将各种体征特点和信息分离，用以进一步的健康分析。首先，用户使用含有DARMA传感器的产品；接着，捕捉到的生命体征数据通过传感器传到DARMA服务器；最后，服务器将数据上传到App或网页以便用户查看，从而达到健康分析、安全监控和远程监护等目的。
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>

</div>

<!--页面底部-->
<footer class="index_footer text_center">
    <div class="color_f font_NotoSansHans_Thin index_footer_c">深圳市大耳马科技有限公司版权所有&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright&nbsp;©粤ICP备16002859号</div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script>
    $(document).ready(function () {

        $window = $(window);
        $('body').animate({scrollTop: 0}, 0);
        // 滚动显示
        (function () {
            var windowH = $window.height(), scrollT = $window.scrollTop();
            $window.resize(function () {
                windowH = $window.height();
            });
            $window.scroll(function () {
                scrollT = $window.scrollTop();
                $('.main article').each(function () {

                    if (windowH + scrollT > $(this).offset().top + 300) {
//	                    if($(this).hasClass("on"));
//	                    return ;
                        $(this).addClass('on');
                    }
                });
            });

        })();

        $(document).ready(function () {
            $('.js-activated').dropdownHover().dropdown();
        });


        //        点击我们的产品
        $('.index_product1').click(function () {
            window.location.href = 'product_info.html#5';
        })

        $('.index_product2').click(function () {
            window.location.href = 'product_info.html#2';
        })
    });
</script>
<script>
    $('.container-fluid .row').click(function () {
        $('.navbar-default .navbar-collapse, .navbar-default .navbar-form').addClass('dsn')
    })
    $('.container-fluid button').click(function () {
        $('.navbar-default .navbar-collapse, .navbar-default .navbar-form').removeClass('dsn')
    })
</script>
<script src="./bootstrap/js/bootstrap.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<span style="display:none">
    <script src="https://s19.cnzz.com/z_stat.php?id=1263656886&web_id=1263656886" language="JavaScript"></script>
</span>
</body>

</html>
