<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seckill.dao.OrderDao">
    <insert id="addOrder">
        INSERT IGNORE INTO
        orders (order_user_id, order_goods_id, order_state)
        VALUE
        (#{userId}, #{goodsId}, 0)
    </insert>

    <select id="getOrderList" resultType="org.seckill.entity.Order">
        SELECT
        order_id, order_user_id, order_goods_id, order_create_time, order_state
        FROM
        orders;
    </select>

    <select id="getOrderByUserIdAndGoodsId" resultType="org.seckill.entity.Order">
        SELECT
        order_id, order_user_id, order_goods_id, order_create_time, order_state
        FROM
        orders
        WHERE
        order_user_id = #{userId} AND order_goods_id = #{goodsId}
    </select>
</mapper>